name: deploy-terraform 

on:
  push:
    branches:
      - master
    paths:
      - './Day8/Infra'

  workflow_dispatch:

env:
    TF_VERSION: 1.5.7
    TF_WORKING_DIR: ./Day8/Infra
    TF_ENV: dev

jobs:
    terraform:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v3
          with:
            terraform_version: ${{ env.TF_VERSION }}

        - name: Terraform Init
          working-directory: ${{ env.TF_WORKING_DIR }}
          run: terraform init

        - name: Terraform Plan
          working-directory: ${{ env.TF_WORKING_DIR }}
          run: terraform plan -var-file=environments/${{ env.TF_ENV }}/${{ env.TF_ENV }}.tfvars

        